designPattern/Singleton/.metadata
designPattern/Singleton/.recommenders
designPattern/Singleton/RemoteSystemsTempFiles
*.mp4
*.mov
designPattern/.metadata
designPattern/.metadata
designPattern/.recommenders
designPattern/RemoteSystemsTempFiles
mean/meantut01/node_modules
mean/meantut02/node_modules
mean/meantut03/node_modules
mean/meantut0000
mean/meantut04/client/node_modules
mean/meantut04/client/.idea
mean/meantut04/client/typings
*.log
ionic2/.idea
ionic2/*/.idea
ionic2/*/hooks
ionic2/*/resources
