designPattern/Singleton/.metadata
designPattern/Singleton/.recommenders
designPattern/Singleton/RemoteSystemsTempFiles
*.mp4
*.mov
designPattern/.metadata
designPattern/.metadata
designPattern/.recommenders
designPattern/RemoteSystemsTempFiles
mean/meantut01/node_modules
mean/meantut02/node_modules
mean/meantut03/node_modules
mean/meantut0000
mean/meantut04/client/node_modules
mean/meantut04/client/.idea
mean/meantut04/client/typings
mean/meantut05/client/node_modules
mean/meantut05/client/.idea
mean/meantut05/client/typings

mean/meantut06/client/node_modules
mean/meantut06/client/.idea
mean/meantut06/client/typings
mean/meantut06/server/node_modules

mean/meantut07/client/node_modules
mean/meantut07/client/.idea
mean/meantut07/client/typings
mean/meantut07/server/node_modules

planningPoker/client/node_modules
planningPoker/client/.idea
planningPoker/client/typings
planningPoker/server/node_modules

*.log
ionic2/.idea
ionic2/*/.idea
ionic2/*/hooks
ionic2/*/resources
